  <!-- stylesheet.ejs top-nav.ejs sidebar.ejsを含む header -->
  <%- include("partials/header")%>

  <style>
    #form-add-category label.error {
      color: red;
    }

  </style>
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">カテゴリー編集</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">ホーム</a></li>
              <li class="breadcrumb-item active">カテゴリー編集</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- right column -->
          <div class="col-md-12">
            <!-- general form elements disabled -->
            <div class="card card-dark">
              <div class="card-header">
                <h3 class="card-title">カテゴリー編集</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">


                <!-- categoryとしてデータをgetしている -->

                <form id="form-add-category" name="form-add-category" method="post" action="/admin/edit-category/<%= category.id %> ">
                  <div class="row">
                    <div class="col-sm-6">
                      <!-- text input -->
                      <div class="form-group">
                        <label>カテゴリ名</label>
                        <input required name="name" value="<%= category.name  %> " type="text" class="form-control" placeholder="カテゴリ名を入力して下さい">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>ステータスの選択</label>
                        <select class="form-control" name="status" >
                          <option <% if (category.status === '1') { %>
                           selected
                          <% } %> value="1">アクティブ</option>
                          <option <% if (category.status === '0') { %>
                            selected
                          <% } %> value="0">インアクティブ</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <button class="btn btn-dark" type="submit">編集</button>
                </form>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

          </div>
          <!--/.col (right) -->

        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->





    <%- include("partials/footer")%> <!-- scriptを含むfooter -->



