 <!-- Main Sidebar Container -->
 <aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="index3.html" class="brand-link">
    <img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
         style="opacity: .8">
    <span class="brand-text font-weight-light">LMS マネージメント</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">管理者</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
             <li class="nav-item">
              <a href="/admin/" class="nav-link">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                  ダッシュボード
                </p>
              </a>
              </li>
              <!-- カテゴリ -->
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="nav-icon fas fa-th"></i>
                  <p>
                    分類
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="/admin/add-category" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>分類の追加</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/admin/list-category" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>分類のリスト</p>
                    </a>
                  </li>

                </ul>
              </li>

              <!-- ブック -->
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="nav-icon fas fa-edit"></i>
                  <p>
                    ブック
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="/admin/add-book" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>ブックの追加</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/admin/list-book" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>ブックのリスト</p>
                    </a>
                  </li>

                </ul>
              </li>
              <!-- ユーザー -->
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="nav-icon fas fa-users"></i>
                  <p>
                    ユーザー
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="/admin/add-user" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>ユーザーの追加</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/admin/list-user" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>ユーザーのリスト</p>
                    </a>
                  </li>

                </ul>
              </li>
              <!-- イシュー -->
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="nav-icon fas fa-table"></i>
                  <p>
                    貸し出し
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="/admin/issue-book" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>本の貸し出し</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/admin/list-issue-book" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>貸し出しリスト</p>
                    </a>
                  </li>

                </ul>
              </li>
              <!-- 返却 -->
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="nav-icon fas fa-table"></i>
                  <p>
                    返却本
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="/admin/return-a-book" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>返却リスト</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/admin/return-list-book" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>返却の記録</p>
                    </a>
                  </li>

                </ul>
              </li>
              <!-- 設定 -->
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="nav-icon fas fa-cog"></i>
                  <p>
                    通貨の設定
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="/admin/currency-settings" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>通貨の設定</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/admin/days-settings" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>日付の設定</p>
                    </a>
                  </li>

                </ul>
              </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
